<?xml version="1.0" encoding="utf-8" ?>

<gateway returnUrl="payreturn.ashx" notifyUrl="paynotify.ashx" refundUrl="refundnotify.ashx">
  <provider name="alipay">
    <properties>
      <property name="enabled">true</property>
      <property name="displayName">支付宝</property>
      <property name="logo">https://img.alipay.com/img/logo/logo.gif</property>
      <property name="gatewayUrl">支付宝</property>
      <property name="paymentRequestType">ThinkPay.Alipay.DirectpayRequest, ThinkPay</property>
      <property name="paymentNotifyType">ThinkPay.Alipay.DirectpayNotify, ThinkPay</property>
      <property name="refundRequestType">ThinkPay.Alipay.RefundRequest, ThinkPay</property>
      <property name="refundNotifyType">ThinkPay.Alipay.RefundNotify, ThinkPay</property>
    </properties>
    <parameters>
      <parameter name="key"></parameter>
      <parameter name="partner"></parameter>
      <parameter name="payment_type">1</parameter>
      <parameter name="seller_id"></parameter>
      <parameter name="seller_account_name"></parameter>
    </parameters>
  </provider>
  <provider name="tenpay">
    <properties>
      <property name="enabled">true</property>
      <property name="displayName">财付通</property>
      <property name="logo">http://mch.tenpay.com/res_mch/global/img/logo_s.png</property>
      <property name="gatewayUrl">https://gw.tenpay.com/gateway/pay.htm</property>
      <property name="paymentRequestType">ThinkPay.Alipay.DirectpayRequest, ThinkPay</property>
      <property name="paymentNotifyType">ThinkPay.Alipay.DirectpayNotify, ThinkPay</property>
      <property name="refundRequestType">ThinkPay.Alipay.RefundRequest, ThinkPay</property>
      <property name="refundNotifyType">ThinkPay.Alipay.RefundNotify, ThinkPay</property>
    </properties>
    <parameters>
      <parameter name="key"></parameter>
      <parameter name="partner"></parameter>
      <parameter name="fee_type">1</parameter>
      <parameter name="sign_type">MD5</parameter>
      <parameter name="service_version">1.0</parameter>
      <parameter name="input_charset">GBK</parameter>
      <parameter name="sign_key_index">1</parameter>
    </parameters>
  </provider>
  <!--<provider name="weixin" enabled="false" displayName="微信支付" logo="https://img.99bill.com/jt/u/i/web2014/logo.gif">
  </provider>
  <provider name="qpay" enabled="false" displayName="QQ钱包" logo="https://img.99bill.com/jt/u/i/web2014/logo.gif">
  </provider>
  <provider name="baidu" enabled="false" displayName="百度钱包" logo="https://img.99bill.com/jt/u/i/web2014/logo.gif">
  </provider>
  <provider name="jd" enabled="false" displayName="京东钱包" logo="https://img.99bill.com/jt/u/i/web2014/logo.gif">
  </provider>
  -->
</gateway>